
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

.header {
    border: 1px solid #000000;
   background-color:#1f3037;

}
.menu {
    width: 20%;
    float: left;
    padding: 1px;
    margin-left: 0px;
        

}
.main {
    width: 80%;
    float: left;
    padding: 2px;
    border: 1px solid #000000 ;
    background-color:#1f6090;
    overflow: auto;
}
.titulos{
    color:#ffffff;
    font-weight: bold;
    text-align: center;

}
.btnnormal{
    width: 100px;
    background-color: #1f3037;
    border: 1px solid #ffab24 ;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    text-indent: -8px;

    border-top-left-radius:2em;
border-top-right-radius:2em;
border-bottom-right-radius:2em;
border-bottom-left-radius:2em;
}

.btnnormal:hover {
    background-color: #ffab24; 
    color: #000000;
    font-weight: bold;
}

.btnopcion{
    background-color: #1f3037;
    border: 1px solid #ffab24 ;
    color: white;
    width: 200px;
    height:100px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

}

.btnopcion:hover {
    background-color: #ffab24; 
    color: #000000;
    font-weight: bold;
}

input[type=text] {
    margin-top: 3px;
    color: white;
    width:250px;
    height: 30px;
    border: 0px solid;
    background-color: #1f6090;
    overflow: auto;
    font-size: 10pt;
}

ul {
    list-style-type: none;
    margin-top:   0px;
    margin-left: 0px
    float: left;
    padding: 0px;
    width: 200px;
    background-color:#1f3037;
    
}

li a {
    display: block;
    color: #ffffff;
  /*  padding: 8px 3px 8px 16px;*/
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    text-indent: -10px;
    margin-left: 0; 
    font-weight: bold;
    height: 30px;
    width: 200px;

    
}

li a:hover {
    background-color: #2E64FE;
    color: #ffffff;
    font-weight: bold;

}

.dropbtn {
    background-color: #1f3037;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.combos{
     margin-top: 3px;
    color: white;
    width:250px;
    height: 30px;
    border: 0px solid;
    background-color: #1f6090;
    overflow: auto;
    font-size: 10pt;
}
}


.dropdown {
    position: relative;
    display: inline-block;
    background-color: #1f3037;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    border: 1px solid;
    border-radius: 5px;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ffffff;
    color: #0000ff;
    border: 1px solid;
    border-radius: 5px;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #1f3037;
        

}
